<!DOCTYPE html>
{%load static %} {%load plotly_dash%}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon_index.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles_index.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
          Start Bootstrap
        </div>
        <div class="list-group list-group-flush">
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'index' %}"
            >Home</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'dashboard' %}"
            >Dashboard</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'seoulIndex' %}"
            >서울시 자치구 통근 인구수</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'roadTraffic' %}"
            >교통혼잡도</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'bus' %}"
            >버스</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="{% url 'subway' %}"
            >지하철</a
          >
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">
              사이드 메뉴
            </button>
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <h1 class="mt-4">버스</h1>

          <div class="row">
            <div class="col-xl-6" style="width: 100%; height: 700px">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-area me-1"></i>
                  승하차 총계
                </div>
                <div class="card-body">
                  {% plotly_app name="total" ratio=0.9 %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-area me-1"></i>
                  월별
                </div>
                <div class="card-body">
                  {% plotly_app name="byMonth" ratio=0.9 %}
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-bar me-1"></i>
                  월별
                </div>
                <div class="card-body">
                  {% plotly_app name="Animation" ratio=0.9 %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Core theme JS-->`
    <script src="{% static 'js/scripts_index.js' %}"></script>
  </body>
</html>