<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 정책</title>
</head>
<body>
    <!-- 화이팅! -->
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky">2020년 1월 24일</th>
            <th class="tg-0pky">서울의 첫 번째 확진자 발생</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky"><span style="font-weight:400;font-style:normal">1월 27일</span></td>
            <td class="tg-0pky">코로나 19 대응 경계단계로 격상</td>
          </tr>
          <tr>
            <td class="tg-0pky"><span style="font-weight:400;font-style:normal">8월 19일</span></td>
            <td class="tg-0pky">사회적 거리두기 2단계 시행</td>
          </tr>
          <tr>
            <td class="tg-0pky"><span style="font-weight:400;font-style:normal">8월 24일</span></td>
            <td class="tg-0pky">실내외 마스크 착용 의무화</td>
          </tr>
          <tr>
            <td class="tg-0pky">8월30일~9월 13일</td>
            <td class="tg-0pky">천만시민 멈춤구간<br>오후 9시~오전5시 포장 배달만 허용<br>학원 비대면 수업만</td>
          </tr>
          <tr>
            <td class="tg-0pky">9월1일</td>
            <td class="tg-0pky">편의점 집한 제한 명령-오후9시 이후 취식금지</td>
          </tr>
          <tr>
            <td class="tg-0pky">9월 14일</td>
            <td class="tg-0pky">사회적 거리두기 2단계 강화된 방역조치조정</td>
          </tr>
          <tr>
            <td class="tg-0pky">11월 7일</td>
            <td class="tg-0pky">사회적 거리두기 체계 개편 시행<br>5단계로 개편</td>
          </tr>
          <tr>
            <td class="tg-0pky">11월 19일</td>
            <td class="tg-0pky">사회적 거리두기 1.5단계 격상</td>
          </tr>
          <tr>
            <td class="tg-0pky">11월24~12월 31일</td>
            <td class="tg-0pky">천만시민 긴급 멈춤 기간 선포</td>
          </tr>
          <tr>
            <td class="tg-0pky">12월 5일</td>
            <td class="tg-0pky">밤 9시 이후 서울 멈춤, 사회적 거리두기 비상조치 방안 발표<br>밤 9시 이후 문닫는곳 확대. <br>대중교통도 밤 9시 이후 30% 감축운행</td>
          </tr>
          <tr>
            <td class="tg-0pky">12월 8일</td>
            <td class="tg-0pky">사회적 거리두기 2.5단계</td>
          </tr>
          <tr>
            <td class="tg-0pky">12월 23일</td>
            <td class="tg-0pky">5인이상 사적모임 금지</td>
          </tr>
          <tr>
            <td class="tg-0pky">2021년 4월 5일</td>
            <td class="tg-0pky">시내버스와 지하철 평일 오후 10시 이후 야간 운행 호선별 순차적 정상화</td>
          </tr>
          <tr>
            <td class="tg-0lax">7월7일</td>
            <td class="tg-0lax">대중교통 10시 이후부터 감축운행</td>
          </tr>
          <tr>
            <td class="tg-0lax">10월 25일</td>
            <td class="tg-0lax">서울 대중교통 평일 22시 이후 감축 운행 정상화 <br>사회적 거리두기 4단계조치 연계해 대중교통 평일 22시 이후 감축운행을 정상화 <br>핼러윈데이 유흥시설 특별단속 방역강화<br>핼러윈데이 유흥시설 밀집지역 선제적 특별방역대책 수립</td>
          </tr>
          <tr>
            <td class="tg-0pky">12월 18일</td>
            <td class="tg-0pky">대중교통 야간시간 감축운행 시행<br>사회적 거리두기가 강화됨에 따라 밤 10시이후 대중교통 야간운행을 20%감축.</td>
          </tr>
          <tr>
            <td class="tg-0pky">12월 24일</td>
            <td class="tg-0pky">대중교통 야간시간 감축운행 시행<br>사회적 거리두기가 강화됨에 따라 밤 10시이후 대중교통 야간운행을 20%감축.<br>지하철은 12월 24일부터 가능노선 우선 단계적 시행</td>
          </tr>
          <tr>
            <td class="tg-0lax">2022년 4월 18일</td>
            <td class="tg-0lax">사회적 거리두기 전면 해제<br>사적모임 10명제한 해제</td>
          </tr>
          <tr>
            <td class="tg-0lax">4월 25일</td>
            <td class="tg-0lax">실내 다중이용시설 음식물 섭취금지조치 해제<br>코로나19 제2급 감염병으로 하향. 5월22일까지 이행기를 갖음</td>
          </tr>
          <tr>
            <td class="tg-0lax">5월 2일</td>
            <td class="tg-0lax">실외 마스크 착용의무 완화</td>
          </tr>
          <tr>
            <td class="tg-0lax">9월 26일</td>
            <td class="tg-0lax">실외마스크 착용의무 해제</td>
          </tr>
        </tbody>
        </table>

</body>
</html>