<!DOCTYPE html>
{%load static %}
{%load plotly_dash%}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>시각화 프로젝트</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon_index.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles_index.css' %}" rel="stylesheet" />
        <style>
            a {
                text-decoration: none;
            }
            button {
                    position: relative;
                    height: 50px;
                    width: 200px;
                    border: 0;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-size: 1.1em;
                    letter-spacing: 0.2em;
                    overflow: hidden;
                    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
                    z-index: 1;
                    color: #fff;
                }
        
            .button-one {
                }
            
            .fill-one {
                    position: absolute;
                    background-image: linear-gradient(to right, #E040FB, #00BCD4);
                    height: 70px;
                    width: 420px;
                    border-radius: 5px;
                    margin: -40px 0 0 -140px;
                    z-index: -1;
                    transition: all 0.4s ease;
                }
                  
            .container-one:hover .fill-one {
                    -webkit-transform: translateX(100px);
                    -moz-transform: translateX(100px);
                    transform: translateX(100px);
                }
        </style>
        <style>
            * {
                font-family: 'Do Hyeon', sans-serif;
            }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/09f5f7d3fa.js" crossorigin="anonymous"></script>
        <script>
        function popUp(){
            window.open("/CovidPolicy/", "","width=300px, height=300px");
        }
    </script>

    </head>



    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">
                    <img src="{% static 'assets/logo.png' %}" alt="logo" style="display: block; margin: 0 auto;">
                </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'index' %}"><i class="fa-solid fa-chart-line"></i> DashBoard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'seoulIndex' %}"><i class="fa-solid fa-building-user"></i> 통근 인구수</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'roadTraffic' %}"><i class="fa-solid fa-traffic-light"></i> 교통혼잡도</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'bus' %}"><i class="fa-solid fa-van-shuttle"></i> 버스</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'subway' %}"><i class="fa-solid fa-train"></i> 지하철</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard' %}"><i class="fa-solid fa-database"></i> 데이터</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid d-flex justify-content-between">
                        <div>
                            <button id="sidebarToggle">사이드 메뉴
                                <div class="fill-one"></div>
                            </button>
                            <button onclick="popUp();">거리두기 정책변화
                                <div class="fill-one"></div>
                            </button>
                        </div>
                        <div>
                            <i class="fa-solid fa-crown"></i> 조장: 주우진 &nbsp;
                            <i class="fa-solid fa-people-group"></i> 팀원: 김철현 박순지 채지훈
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">데이터</h1>
                    <br>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fa-solid fa-building-user"></i>
                                        <strong>서울시 자치구 통근 인구수, OECD 평균 출퇴근 시간</strong>
                                    </div>
                                    <div class="card-body">

                                    <p>
                                        <a href = "https://github.com/cubensys/Korea_District">서울시, 자치구의 중심 좌표 데이터</a>
                                        'choeungjin'의 깃 csv파일
                                    </p>

                                    <p>
                                        <a href = "https://data.seoul.go.kr/dataList/433/S/2/datasetView.do">서울시 통근·통학 및 주간인구 (12세 이상) 통계</a>
                                        서울특별시, 서울특별시기본통계
                                    </p>

                                        <p>
                                        <a href = "https://www.oecd.org/els/family/database.htm">OECD평균 출퇴근 시간</a>

                                        The labour market position of families (LMF)
                                            <br>
                                            LMF2.6 Time spent travelling to and from work
                                    </p>

                                        <br>

                                        <p>
                                            서울시 출퇴근 인구는 2020년에 조사된 데이터입니다.
                                        </p>

                                        <p>
                                            OECD 평균 출퇴근 시간은 대한민국 기준 2009년 조사된 내용이므로 현재와 다를 수 있으며, <br>조사 기관 별 다른 방식으로 인해
                                            같은 연도에 다른 결과가 도출됩니다.
                                        </p>



                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fa-solid fa-traffic-light"></i>
                                        <strong>교통 혼잡도</strong>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            <a href = "https://data.seoul.go.kr/dataList/OA-13316/A/1/datasetView.do">
                                                서울시 교통량 이력 정보 API
                                            </a>
                                            &nbsp; 지점별, 시간별 교통량, 지점번호
                                            <br>
                                            <br>
                                            <a href = "https://data.seoul.go.kr/dataList/OA-13314/A/1/datasetView.do">
                                                서울시 교통량 지점 정보 API
                                            </a>
                                            &nbsp; 지점 명칭

                                            <br>
                                            <br>

                                            <a href = "https://topis.seoul.go.kr/refRoom/openRefRoom_2.do">
                                                차량 검지기
                                            </a>
                                            &nbsp; 서울시, 차량 검지기 위치 및 수집 방식
                                        </p>
                                        <br>


                                        <p>
                                          교통 측정 기기 이슈로 인해, 0인 값들도 존재합니다.
                                        </p>

                                        <p>
                                            mean_month는 월평균 통행량, vol_month는 월 누계 통행량입니다.
                                        </p>

                                        <p>
                                            서울시에는 총 139개소의 차량검지기를 매설하고 제어기를 설치하여 조사하고 있습니다.
                                        </p>
                                        <p>
                                            모든 지점에 대한 24시간 데이터의 적재 및 가공은
                                            DB 용량 및 전처리 성능에 부담을 끼치는 것으로 판단하여, 61개소로 줄였으며, 8시 13시 18시의 교통량을 수집했습니다.

                                        </p>

                                        <p>
                                            주로, 교량의 통행량과 한 지역에 집중되어 있는 지점을 주로 삭제했습니다.
                                        </p>

                                        <p>
                                            자세한 사항은 교통혼잡도 칸에 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fa-solid fa-van-shuttle"></i>
                                        <strong>버스</strong>
                                    </div>
                                    <div class="card-body">

                                        <p>
                                            <a href="https://www.t-money.co.kr/ncs/pct/ugd/ReadTrcrStstList.dev">대중교통 통계 자료</a>
                                            &nbsp; T머니
                                        </p>
                                        <br>

                                        <p>
                                            많은 자료 중, 서울시에서 운행하는 버스만 추출하여 가공했습니다.
                                        </p>

                                        <p>
                                            서울시내, 월평균 승하차 수를 구하여, DB에 적재했습니다.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fa-solid fa-train"></i>
                                        <strong>지하철</strong>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            <a href=" https://data.seoul.go.kr/dataList/OA-12914/S/1/datasetView.do">서울시 지하철 승하차 인원</a>
                                            &nbsp; 서울시 지하철호선별 역별 승하차 인원 정보 (호선명, 역명, 승차총승객수, 하차총승객수)
                                        </p>

                                        <p>
                                            <a href="https://observablehq.com/@taekie/seoul_subway_station_coordinate">서울시 지하철 위치1</a>
                                            observablehq.com, 'taekie'의 서울 지하철역 좌표
                                        </p>

                                        <p>
                                            <a href="https://data.kric.go.kr/rips/M_01_02/detail.do?id=183&service=convenientInfo&operation=stationInfo&keywords=%ec%97%ad%ec%82%ac&lcd=&mcd=">서울시 지하철 위치2</a>
                                            &nbsp; 레일포털
                                        </p>

                                        <br>

                                        서울시 지하철 승하차 인원과 해당 지하철 역의 주소 데이터를 결합시켜, 구별 이용자수의 변화를 구할 수 있게 했습니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <!-- Core theme JS-->`
        <script src="{% static 'js/scripts_index.js' %}"></script>
    </body>
</html>
